* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

i {
    padding: 0 10px;
}

ion-icons {
    padding:0 10px;
    
}

header {
    height: 80px;
    -webkit-box-shadow: 0px 8px 12px 0px rgba(215, 215, 215, 0.86); 
    box-shadow: 0px 8px 12px 0px rgba(215, 215, 215, 0.86);
}

.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 200px;
}

.logo h1 {
    font-size: 40px;
}
.logo i {
    font-size: 30px;
}

.search {
    font-size: 22px;
    cursor: pointer;
    margin-right: 100px;
}

.search span {
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
}

.search i {
    padding: 0 20px;
    font-size: 24px;
    color: grey;
}

.search button {
    font-size: 24px;
    padding: 15px;
    background-color: red;
    border-radius: 50%;
    width: 60px;
    margin: 0 10px;
    color: white;
    border: solid 1px red;
    cursor: pointer;
}

main {
    display: flex;
    margin: 50px 150px;
}

.content {
    width: 70%;
}

.navigation_bar {
    height: 80px;
    border-bottom: solid 1px lightgrey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color:white ;
    

}

.navigation_bar span {
    color: gray;
    font-size: 30px;
    padding: 0 30px;
    z-index: 0;
    font-weight: bold;
}


#select {
    border-bottom: solid 3px black;
    z-index: 2;
    padding: 22px 0;
    color: black;
}

.bio {
    display: flex;
    align-items: center;
    margin: 20px 0;
    height: 70px;
    
}

.bio img {
    height: 40px;
    width: 40px;
    border-radius: 20%;
    margin: 10px;

}

.bio>p {
    font-size: 24px;
    padding: 0 20px;
    font-weight: bold;
}

.bio span {
    color: grey;
}



.img_art  img { 
   
    padding: 10px;
    width: 300px;
    height: 200px;

}

.text {
    margin: 20px 0;
    width: 80%;
}

.text h1 {
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
    
}

.text p {
    color: grey;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 0;
    cursor: pointer;

}

#special-list {
    background-color: lightgray;
    border-radius: 10px;
}

.info>div>ul>li {
    padding:0 20px;
    list-style: none;
    font-size: 16px;
    color: grey;
    cursor: pointer;
}

.icone_art ion-icon {
    font-size: 20px;
    padding-left: 10px;
    cursor: pointer;
}

.icone_art i {
    font-size: 20px;
    cursor: pointer;
}
article {
    height: 300px;
    margin: 100px 0;
}

.board {
    width: 70%;
}

.menu img {
    width: 60px;
    border-radius: 50%;
}

.menu {
    margin: 30px 100px;
    border-left: solid 1px lightgrey;
    padding: 0 100px;
    margin-right: 0;
    width: 30%;
    padding-right: 0;
}

section {
   
    margin: 20px;
}

.intro-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px lightgrey;
    
}

.intro-menu>div>i {
    font-size: 50px;
    padding: 0;
}

section.intro-menu>div {
    margin: 30px 0;
}

#twitter {
    color: #1A8CD8;
}

.intro-menu p {
    font-size: 25px;
    margin-bottom: 20px;
}

.intro-menu button {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    
}

section.intro-menu>button>a {
    font-size: 20px;
    text-decoration: none;
}

section.intro-menu>button>i {
    font-size: 25px;
}

section.intro-menu>a {
    color: grey;
    font-size: 20px;
    margin-bottom: 30px;
}

.reccomended {
    margin-top: 20px;
   
}

.reccomended h2 {
    font-size: 30px;
    margin-bottom: 30px;
}

.reccomended>ul {
    display: flex;
    flex-wrap: wrap;

}

.reccomended>ul>li {
    margin: 10px;
    font-size: 18px;
    padding: 10px;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
}

.prof {
    
    margin: 20px 0;
}



.prof>div {
    margin: 30px 0
    ;
}

.prof>div>div {
    padding: 20px;
}

.prof button {
    font-size: 24px;
    padding: 10px;
    background-color:white;
    border-radius: 20px;
    cursor: pointer;
}

.prof h3 {
    font-weight: 800;
    cursor: pointer;
}

.prof p {
    color: grey;
    font-size: 18px;
}

.saved {
    padding-top: 20px;
    
}

.saved h2 {
  margin-bottom: 20px;
}

.saved img {
    width: 50px;
    border-radius: 20px;
}

.autore-menu {
    display: flex;
    align-items: center;
    margin: 20px 0;
}

.autore-menu p {
    font-size: 20px;
    margin: 0 20px;
    font-weight: bold;
}

.saved span {
    color: grey;
}

.saved h3 {
    font-weight: 800;
    font-size: 22px;
}

.saved ul {
    display: flex;
    margin: 20px 0;
}

.saved li {
    list-style: none;
    font-size: 20px;
    color: grey;
    margin: 0 10px;
}

.saved a {
    color: green;
    font-size: 22px;
    
}

.autore2-menu {
    align-items: center;
    display: flex;
}

.autore2-menu span {
    margin: 0 20px;
    font-weight: bold;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#saluto {
    margin: 20px 0;
    font-size: 30px;
    font-weight: 700;
}

.last-list ul {
    display: flex;
    flex-wrap: wrap;
}

.last-list>ul>li {
    padding: 10px;
    font-size: 18px;
    color: grey;
    list-style: none;
    cursor: pointer;
}


.last-list {
    margin: 20px 0;
}