* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

i {
    padding: 0 10px;
}

ion-icons {
    padding:0 10px;
    
}

header {
    height: 80px;
    -webkit-box-shadow: 0px 8px 12px 0px rgba(215, 215, 215, 0.86); 
    box-shadow: 0px 8px 12px 0px rgba(215, 215, 215, 0.86);
}


.flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.logo {
    display: flex;
    align-items: center;
    padding-left: 50px;
}

.logo h1 {
    font-size: 40px;
}
.logo i {
    font-size: 30px;
}

.search {
   cursor: pointer;
    margin-right: 100px;
}

.search span {
    padding: 10px;
    border: solid 1px black;
    border-radius: 20px;
}

.search i {
    padding: 0 20px;
    font-size: 18px;
    color: grey;
}

.search button {
    font-size: 18px;
    padding: 10px;
    background-color: red;
    border-radius: 50%;
    width: 50px;
    margin: 0 10px;
    color: white;
    border: solid 1px red;
    cursor: pointer;
}

main {
    display: flex;
    margin: 20px 50px;
}



.navigation_bar {
    height: 50px;
    border-bottom: solid 1px lightgrey;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background-color:white ;
}

.navigation_bar span {
    color: gray;
    padding: 0 20px;
    z-index: 0;
    font-weight: bold;
    font-size: 18px;
}


#select {
    border-bottom: solid 3px black;
    z-index: 2;
    padding: 13px 0;
    color: black;
}

.bio {
    display: flex;
    align-items: center;
    margin: 1em 0;
    
}

.bio img {
    height: 30px;
    width: 30px;
    border-radius: 20%;
    margin: 5px;

}

.bio>p {
    font-weight: bold;
}

.bio span {
    color: grey;
}

.img_art  img { 
    padding: 10px;
    width: 20rem;
    height: 15rem;
    
} 

.text {
    margin: 5px;
    

}

.text h1 {
    font-weight: bold;
    cursor: pointer;
    
}

.text p {
    color: grey;
    font-weight: bold;
    padding: 10px 0;
    cursor: pointer;

}

#special-list {
    background-color: lightgray;
    border-radius: 10px;
    
}

.info>div>ul>li {
    padding:0 10px;
    list-style: none;
    font-size: 0.8em;
    color: grey;
    cursor: pointer;
}

.icone_art ion-icon {
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}

.icone_art i {
    font-size: 1em;
    cursor: pointer;
}

article {
    margin: 2em 1em;
}



.menu img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.menu {
    
    border-left: solid 1px lightgrey;
    padding-left: 2em;
    width: 40vw;
    position: sticky;
    top: 0;
    height: 90%;
 
}

.intro-menu {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px lightgrey;
    
}

.intro-menu>div>i {
    font-size: 30px;
    padding: 0;
}

section.intro-menu>div {
    margin: 20px 0;
}

section{
    margin: 20px 0;
}

#twitter {
    color: #1A8CD8;
}

.intro-menu p {
    margin-bottom: 20px;
}

.intro-menu button {
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    cursor: pointer;
    
    
}

section.intro-menu>button>a {
    text-decoration: none;
}


section.intro-menu>a {
    color: grey;
     margin-bottom: 30px;
}

.reccomended {
    margin-top: 20px;
    
   
}

.reccomended h2 {
    margin-bottom: 20px;
}

.reccomended>ul {
    display: flex;
    flex-wrap: wrap;
    
    
}


.reccomended>ul>li {
    margin: 0.3rem;
    padding: 0.5rem;
    background-color: rgb(231, 230, 230);
    border-radius: 20px;
    list-style: none;
    cursor: pointer;
}

.prof {
    
    margin: 20px 0;
}

.prof h2 {
    margin-top: 10px;
}

.p-board {
    display: flex;
    justify-content: space-between;
}

.p-board {
    padding: 20px 0;
}



.p-board>button {
    background-color:white;
    border-radius: 5px;
    cursor: pointer;
    height: 2rem;
    width: 4rem;
    margin: auto;
}


.prof h3 {
    font-weight: 800;
    cursor: pointer;
    font-size: 15px;

}

.prof p {
    color: grey;
    font-size: 13px;
    width: 80%;
}

#center {
    margin-left: 10px;
}

.saved {
    padding-top: 20px;
    
}

.saved h2 {
  margin-bottom: 20px;
}



.autore-menu {
    display: flex;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.autore-menu p {
    margin: 0 10px;
    font-weight: bold;
}

.saved span {
    color: grey;
}

.saved h3 {
    font-weight:bold;
    font-size: 1em;
}

.saved ul {
    display: flex;
    margin-top: 0.5em;
    margin-bottom: 2em;
    
}

.saved li {
    list-style: none;
    color: grey;
    margin: 0 10px;
    font-size: 13px;
   
}

.saved a {
    color: green;
    
}

.autore2-menu {
    align-items: center;
    display: flex;
}

.autore2-menu span {
    
    font-weight: bold;
    color: black;
    cursor: pointer;
}

#saluto {
    margin: 10px 0;
    font-size: 20px;
    font-weight: 700;
}

.last-list ul {
    display: flex;
    flex-wrap: wrap;
    
}

.last-list>ul>li {
    padding: 10px;
    color: grey;
    list-style: none;
    cursor: pointer;
    
}


.last-list {
    margin: 30px 0;
}